<header class="header">
  <div class="header__container">
    <div class="header__logo">
      <a href="/">
        <img src="./img/logo.svg" alt="Логотип компании">
      </a>
      <button class="button" type="button">Написать нам</button>
    </div>

    <div class="header__contact">
      <a href="tel:+74994441615" class="header__number">
        +7 (499) 444 16-15
      </a>

      <div class="header__social">
        <a href="#" aria-label="Telegram">
          <img src="./img/telegram.svg" alt="Telegram">
        </a>
        <a href="#" aria-label="ВКонтакте">
          <img src="./img/vk.svg" alt="VK">
        </a>
      </div>
      <div class="header__burger">
        <a href="#" aria-label="Версия для слабовидящих">
          <img src="./img/eye.svg" alt="Версия для слабовидящих">
        </a>
        <button class="burger" type="button" aria-label="Открыть меню">
          <span class="burger__line"></span>
        </button>
      </div>
    </div>

  </div>
</header>