<section class="hero">
    <div class="hero__container">
        <img src="./img/hero_background.png" alt="Фон главного экрана" class="hero__background">
        
        <div class="hero__content">

            <div class="hero__text">
                <h1 class="hero__title">ПРОГРАММЫ И ИНСТРУМЕНТЫ ДЛЯ РАЗВИТИЯ БИЗНЕСА</h1>
                <p class="hero__subtitle">от Департамента предпринимательства и инновационного развития Москвы</p>
            </div>
            

            <aside class="stats-cards">
                <div class="stats-cards__list">
                    <div class="stats-card">
                        <div class="stats-card__top">
                            <div class="stats-card__icon"></div>
                            <p class="stats-card__number">105 млрд ₽</p>
                        </div>
                        <p class="stats-card__description">Направлено на поддержку</p>
                    </div>
                    <div class="stats-card">
                        <div class="stats-card__top">
                            <div class="stats-card__icon"></div>
                            <p class="stats-card__number">1 млн</p>
                        </div>
                        <p class="stats-card__description">Оказанных услуг</p>
                    </div>
                    <div class="stats-card">
                        <div class="stats-card__top">
                            <div class="stats-card__icon"></div>
                            <p class="stats-card__number">250 000</p>
                        </div>
                        <p class="stats-card__description">Поддержанных предпринимателей</p>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>