<section class="post-department">
    <h2 class="post-department__title">Постведомственные структуры</h2>
    <div class="cards-grid">
        <article class="card">
            <div class="card__background">
                <img src="./img/small_business_in_moscow.png" alt="Малый бизнес Москвы" loading="lazy">
            </div>
            <div class="card__icon">
                <img src="./img/small_business_in_moscow_logo.png" alt="Малый бизнес Москвы" loading="lazy">
            </div>
            <div class="card__content">
                <h3 class="card__title">Малый бизнес Москвы</h3>
                <p class="card__description">Поддержка малого и среднего предпринимательства</p>
                <a href="#" class="card__link" aria-label="Подробнее о Малый бизнес Москвы">
                    Подробнее
                    <img src="./img/icon.svg" alt="">
                </a>
            </div>
        </article>

        <article class="card">
            <div class="card__background">
                <img src="./img/moscow_innovation_cluster.jpg" alt="Московский инновационный кластер" loading="lazy" style="object-position: 100% center;">
            </div>
            <div class="card__icon">
                <img src="./img/moscow_innovation_cluster_logo.png" alt="Московский инновационный кластер" loading="lazy">
            </div>
            <div class="card__content">
                <h3 class="card__title">Московский инновационный кластер</h3>
                <p class="card__description">Внедрение инноваций и развитие кооперации</p>
                <a href="#" class="card__link" aria-label="Подробнее о Московский инновационный кластер">
                    Подробнее
                    <img src="./img/icon.svg" alt="">
                </a>
            </div>
        </article>

        <article class="card">
            <div class="card__background">
                <img src="./img/moscow_innovation_agency.png" alt="Агентство инноваций Москвы" loading="lazy"
                    class="card__bg-rotated">
            </div>
            <div class="card__icon">
                <img src="./img/moscow_innovation_agency_logo.png" alt="Агентство инноваций Москвы" loading="lazy">
            </div>
            <div class="card__content">
                <h3 class="card__title">Агентство инноваций Москвы</h3>
                <p class="card__description">Поддержка и развитие технологических компаний</p>
                <a href="#" class="card__link" aria-label="Подробнее о Агентство инноваций Москвы">
                    Подробнее
                    <img src="./img/icon.svg" alt="">
                </a>
            </div>
        </article>

        <article class="card">
            <div class="card__background">
                <img src="./img/moscow_export_center.png" alt="Московский экспортный центр" loading="lazy">
            </div>
            <div class="card__icon">
                <img src="./img/moscow_export_center_logo.png" alt="Московский экспортный центр" loading="lazy">
            </div>
            <div class="card__content">
                <h3 class="card__title">Московский экспортный центр</h3>
                <p class="card__description">Поддержка экспортно ориентированного бизнеса</p>
                <a href="#" class="card__link" aria-label="Подробнее о Московский экспортный центр">
                    Подробнее
                    <img src="./img/icon.svg" alt="">
                </a>
            </div>
        </article>

        <article class="card">
            <div class="card__background">
                <img src="./img/human_capital_development.png" alt="Развитие человеческого капитала" loading="lazy">
            </div>
            <div class="card__icon">
                <img src="./img/human_capital_development_logo.png" alt="Развитие человеческого капитала" loading="lazy">
            </div>
            <div class="card__content">
                <h3 class="card__title">Развитие человеческого капитала</h3>
                <p class="card__description">Инфраструктура для развития команды и кадров</p>
                <a href="#" class="card__link" aria-label="Подробнее о Развитие человеческого капитала">
                    Подробнее
                    <img src="./img/icon.svg" alt="">
                </a>
            </div>
        </article>
    </div>
    <div class="post-department__footer">
        <a href="#" class="post-department__show-all">Показать все</a>
    </div>
</section>