<section class="team">
    <div class="team__container">
        <h2 class="team__title">Команда Департамента</h2>

        <div class="team__sidebar">
            <div class="team__leader">
                <div class="leader-card">
                    <img src="./img/director.png" alt="Руководитель департамента">
                    <h3>Кострома Кристина Геннадьевна</h3>
                    <p>Руководитель Департамента предпринимательства и инновационного развития города Москвы</p>
                </div>
            </div>
            <div class="team__departments">
                <div class="departments-list">
                    <button class="department-btn active" data-department="development">
                        Малый и средний бизнес
                        <div class="plus"></div>
                    </button>
                    <button class="department-btn" data-department="analytics">
                        Инновации
                        <div class="plus"></div>
                    </button>
                    <button class="department-btn" data-department="marketing">
                        Продвижение
                        <div class="plus"></div>
                    </button>
                    <button class="department-btn" data-department="finance">
                        Развитие команды
                        <div class="plus"></div>
                    </button>
                    <button class="department-btn" data-department="export">
                        Экспорт
                        <div class="plus"></div>
                    </button>
                </div>
            </div>
        </div>



        <div class="team__members">

            <div class="members-grid" id="development-members">

                <div class="members-cards">
                    <div class="member-card">
                        <img src="./img/men.png" alt="Дерюгин Александр Владимирович">
                        <div class="member-card__content">
                            <h4 class="member-card__name">Дерюгин Александр Владимирович</h4>
                            <p class="member-card__position">Заместитель руководителя Департамента</p>
                        </div>
                    </div>
                    <div class="member-card">
                        <img src="./img/woman.png" alt="Серегина Варвара Владимировна">
                        <div class="member-card__content">
                            <h4 class="member-card__name">Серегина Варвара Владимировна</h4>
                            <p class="member-card__position">Начальник Управления поддержки и развития
                                предпринимательства</p>
                        </div>
                    </div>
                    <div class="member-card">
                        <img src="./img/men.png" alt="Иванов Станислав Сергеевич">
                        <div class="member-card__content">
                            <h4 class="member-card__name">Иванов Станислав Сергеевич</h4>
                            <p class="member-card__position">Генеральный Директор ГБУ «Малый Бизнес Москвы»</p>
                        </div>
                    </div>
                    <div class="member-card">
                        <img src="./img/men.png" alt="Купринов Антон Эдуардович">
                        <div class="member-card__content">
                            <h4 class="member-card__name">Купринов Антон Эдуардович</h4>
                            <p class="member-card__position">Исполнительный директор Фонда содействия кредитованию
                                Малого Бизнеса Москвы</p>
                        </div>
                    </div>
                    <div class="member-card">
                        <img src="./img/men.png" alt="Байков Сергей Николаевич">
                        <div class="member-card__content">
                            <h4 class="member-card__name">Байков Сергей Николаевич</h4>
                            <p class="member-card__position">Начальник Управления по обеспечению деятельности Штаба по
                                защите бизнеса и Проектного офиса в городе Москве</p>
                        </div>
                    </div>
                </div>

                <div class="projects-section">
                    <h5 class="projects-title">Проекты</h5>
                    <ul class="projects-list">
                        <li class="projects-item">
                            <div class="point"></div>
                            Онлайн-Академия
                        </li>
                        <li class="projects-item">
                            <div class="point"></div>
                            Школа бизнеса МБМ
                        </li>
                        <li class="projects-item">
                            <div class="point"></div>
                            Бизнозес-песочница
                        </li>
                    </ul>
                    <a href="#" class="show-more">Показать больше</a>
                </div>

                <div class="line"></div>

                <div class="members-footer">
                    <div class="members-footer__organizations">
                        <a href="#" class="organization-link">
                            <img src="./img\link.svg" alt="">
                            Малый бизнес Москвы
                        </a>
                        <a href="#" class="organization-link">
                            <img src="./img\link.svg" alt="">
                            Московский гарантийный фонд
                        </a>
                        <a href="#" class="organization-link">
                            <img src="./img\link.svg" alt="">
                            Штаб по защите бизнеса в городе Москве
                        </a>
                    </div>

                    <div class="members-footer__contacts">
                        <a href="#" class="link-contact">Связаться с пресс-службой</a>
                        <a href="#" class="link-write">Написать нам</a>
                    </div>
                </div>
            </div>










            <div class="members-grid hidden" id="analytics-members">
                <div class="members-cards">
                    <div class="member-card">
                        <img src="./img/men.png" alt="Дерюгин Александр Владимирович">
                        <div class="member-card__content">
                            <h4 class="member-card__name">Дерюгин Александр Владимирович</h4>
                            <p class="member-card__position">Заместитель руководителя Департамента</p>
                        </div>
                    </div>
                    <div class="member-card">
                        <img src="./img/woman.png" alt="Серегина Варвара Владимировна">
                        <div class="member-card__content">
                            <h4 class="member-card__name">Серегина Варвара Владимировна</h4>
                            <p class="member-card__position">Начальник Управления поддержки и развития
                                предпринимательства</p>
                        </div>
                    </div>
                    <div class="member-card">
                        <img src="./img/men.png" alt="Иванов Станислав Сергеевич">
                        <div class="member-card__content">
                            <h4 class="member-card__name">Иванов Станислав Сергеевич</h4>
                            <p class="member-card__position">Генеральный Директор ГБУ «Малый Бизнес Москвы»</p>
                        </div>
                    </div>
                    <div class="member-card">
                        <img src="./img/men.png" alt="Купринов Антон Эдуардович">
                        <div class="member-card__content">
                            <h4 class="member-card__name">Купринов Антон Эдуардович</h4>
                            <p class="member-card__position">Исполнительный директор Фонда содействия кредитованию
                                Малого Бизнеса Москвы</p>
                        </div>
                    </div>
                    <div class="member-card">
                        <img src="./img/men.png" alt="Байков Сергей Николаевич">
                        <div class="member-card__content">
                            <h4 class="member-card__name">Байков Сергей Николаевич</h4>
                            <p class="member-card__position">Начальник Управления по обеспечению деятельности Штаба по
                                защите бизнеса и Проектного офиса в городе Москве</p>
                        </div>
                    </div>
                </div>

                <div class="projects-section">
                    <h5 class="projects-title">Проекты</h5>
                    <ul class="projects-list">
                        <li class="projects-item">
                            <div class="point"></div>
                            Онлайн-Академия
                        </li>
                        <li class="projects-item">
                            <div class="point"></div>
                            Школа бизнеса МБМ
                        </li>
                        <li class="projects-item">
                            <div class="point"></div>
                            Бизнозес-песочница
                        </li>
                    </ul>
                    <a href="#" class="show-more">Показать больше</a>
                </div>

                <div class="line"></div>

                <div class="members-footer">
                    <div class="members-footer__organizations">
                        <a href="#" class="organization-link">
                            <img src="./img\link.svg" alt="">
                            Малый бизнес Москвы
                        </a>
                        <a href="#" class="organization-link">
                            <img src="./img\link.svg" alt="">
                            Московский гарантийный фонд
                        </a>
                        <a href="#" class="organization-link">
                            <img src="./img\link.svg" alt="">
                            Штаб по защите бизнеса в городе Москве
                        </a>
                    </div>

                    <div class="members-footer__contacts">
                        <a href="#" class="link-contact">Связаться с пресс-службой</a>
                        <a href="#" class="link-write">Написать нам</a>
                    </div>
                </div>
            </div>

            <div class="members-grid hidden" id="marketing-members">
                <div class="members-cards">
                    <div class="member-card">
                        <img src="./img/men.png" alt="Дерюгин Александр Владимирович">
                        <div class="member-card__content">
                            <h4 class="member-card__name">Дерюгин Александр Владимирович</h4>
                            <p class="member-card__position">Заместитель руководителя Департамента</p>
                        </div>
                    </div>
                    <div class="member-card">
                        <img src="./img/woman.png" alt="Серегина Варвара Владимировна">
                        <div class="member-card__content">
                            <h4 class="member-card__name">Серегина Варвара Владимировна</h4>
                            <p class="member-card__position">Начальник Управления поддержки и развития
                                предпринимательства</p>
                        </div>
                    </div>
                    <div class="member-card">
                        <img src="./img/men.png" alt="Иванов Станислав Сергеевич">
                        <div class="member-card__content">
                            <h4 class="member-card__name">Иванов Станислав Сергеевич</h4>
                            <p class="member-card__position">Генеральный Директор ГБУ «Малый Бизнес Москвы»</p>
                        </div>
                    </div>
                    <div class="member-card">
                        <img src="./img/men.png" alt="Купринов Антон Эдуардович">
                        <div class="member-card__content">
                            <h4 class="member-card__name">Купринов Антон Эдуардович</h4>
                            <p class="member-card__position">Исполнительный директор Фонда содействия кредитованию
                                Малого Бизнеса Москвы</p>
                        </div>
                    </div>
                    <div class="member-card">
                        <img src="./img/men.png" alt="Байков Сергей Николаевич">
                        <div class="member-card__content">
                            <h4 class="member-card__name">Байков Сергей Николаевич</h4>
                            <p class="member-card__position">Начальник Управления по обеспечению деятельности Штаба по
                                защите бизнеса и Проектного офиса в городе Москве</p>
                        </div>
                    </div>
                </div>

                <div class="projects-section">
                    <h5 class="projects-title">Проекты</h5>
                    <ul class="projects-list">
                        <li class="projects-item">
                            <div class="point"></div>
                            Онлайн-Академия
                        </li>
                        <li class="projects-item">
                            <div class="point"></div>
                            Школа бизнеса МБМ
                        </li>
                        <li class="projects-item">
                            <div class="point"></div>
                            Бизнозес-песочница
                        </li>
                    </ul>
                    <a href="#" class="show-more">Показать больше</a>
                </div>

                <div class="line"></div>

                <div class="members-footer">
                    <div class="members-footer__organizations">
                        <a href="#" class="organization-link">
                            <img src="./img\link.svg" alt="">
                            Малый бизнес Москвы
                        </a>
                        <a href="#" class="organization-link">
                            <img src="./img\link.svg" alt="">
                            Московский гарантийный фонд
                        </a>
                        <a href="#" class="organization-link">
                            <img src="./img\link.svg" alt="">
                            Штаб по защите бизнеса в городе Москве
                        </a>
                    </div>

                    <div class="members-footer__contacts">
                        <a href="#" class="link-contact">Связаться с пресс-службой</a>
                        <a href="#" class="link-write">Написать нам</a>
                    </div>
                </div>
            </div>

            <div class="members-grid hidden" id="finance-members">
                <div class="members-cards">
                    <div class="member-card">
                        <img src="./img/men.png" alt="Дерюгин Александр Владимирович">
                        <div class="member-card__content">
                            <h4 class="member-card__name">Дерюгин Александр Владимирович</h4>
                            <p class="member-card__position">Заместитель руководителя Департамента</p>
                        </div>
                    </div>
                    <div class="member-card">
                        <img src="./img/woman.png" alt="Серегина Варвара Владимировна">
                        <div class="member-card__content">
                            <h4 class="member-card__name">Серегина Варвара Владимировна</h4>
                            <p class="member-card__position">Начальник Управления поддержки и развития
                                предпринимательства</p>
                        </div>
                    </div>
                    <div class="member-card">
                        <img src="./img/men.png" alt="Иванов Станислав Сергеевич">
                        <div class="member-card__content">
                            <h4 class="member-card__name">Иванов Станислав Сергеевич</h4>
                            <p class="member-card__position">Генеральный Директор ГБУ «Малый Бизнес Москвы»</p>
                        </div>
                    </div>
                    <div class="member-card">
                        <img src="./img/men.png" alt="Купринов Антон Эдуардович">
                        <div class="member-card__content">
                            <h4 class="member-card__name">Купринов Антон Эдуардович</h4>
                            <p class="member-card__position">Исполнительный директор Фонда содействия кредитованию
                                Малого Бизнеса Москвы</p>
                        </div>
                    </div>
                    <div class="member-card">
                        <img src="./img/men.png" alt="Байков Сергей Николаевич">
                        <div class="member-card__content">
                            <h4 class="member-card__name">Байков Сергей Николаевич</h4>
                            <p class="member-card__position">Начальник Управления по обеспечению деятельности Штаба по
                                защите бизнеса и Проектного офиса в городе Москве</p>
                        </div>
                    </div>
                </div>

                <div class="projects-section">
                    <h5 class="projects-title">Проекты</h5>
                    <ul class="projects-list">
                        <li class="projects-item">
                            <div class="point"></div>
                            Онлайн-Академия
                        </li>
                        <li class="projects-item">
                            <div class="point"></div>
                            Школа бизнеса МБМ
                        </li>
                        <li class="projects-item">
                            <div class="point"></div>
                            Бизнозес-песочница
                        </li>
                    </ul>
                    <a href="#" class="show-more">Показать больше</a>
                </div>

                <div class="line"></div>

                <div class="members-footer">
                    <div class="members-footer__organizations">
                        <a href="#" class="organization-link">
                            <img src="./img\link.svg" alt="">
                            Малый бизнес Москвы
                        </a>
                        <a href="#" class="organization-link">
                            <img src="./img\link.svg" alt="">
                            Московский гарантийный фонд
                        </a>
                        <a href="#" class="organization-link">
                            <img src="./img\link.svg" alt="">
                            Штаб по защите бизнеса в городе Москве
                        </a>
                    </div>

                    <div class="members-footer__contacts">
                        <a href="#" class="link-contact">Связаться с пресс-службой</a>
                        <a href="#" class="link-write">Написать нам</a>
                    </div>
                </div>
            </div>

            <div class="members-grid hidden" id="export-members">
                <div class="members-cards">
                    <div class="member-card">
                        <img src="./img/men.png" alt="Дерюгин Александр Владимирович">
                        <div class="member-card__content">
                            <h4 class="member-card__name">Дерюгин Александр Владимирович</h4>
                            <p class="member-card__position">Заместитель руководителя Департамента</p>
                        </div>
                    </div>
                    <div class="member-card">
                        <img src="./img/woman.png" alt="Серегина Варвара Владимировна">
                        <div class="member-card__content">
                            <h4 class="member-card__name">Серегина Варвара Владимировна</h4>
                            <p class="member-card__position">Начальник Управления поддержки и развития
                                предпринимательства</p>
                        </div>
                    </div>
                    <div class="member-card">
                        <img src="./img/men.png" alt="Иванов Станислав Сергеевич">
                        <div class="member-card__content">
                            <h4 class="member-card__name">Иванов Станислав Сергеевич</h4>
                            <p class="member-card__position">Генеральный Директор ГБУ «Малый Бизнес Москвы»</p>
                        </div>
                    </div>
                    <div class="member-card">
                        <img src="./img/men.png" alt="Купринов Антон Эдуардович">
                        <div class="member-card__content">
                            <h4 class="member-card__name">Купринов Антон Эдуардович</h4>
                            <p class="member-card__position">Исполнительный директор Фонда содействия кредитованию
                                Малого Бизнеса Москвы</p>
                        </div>
                    </div>
                    <div class="member-card">
                        <img src="./img/men.png" alt="Байков Сергей Николаевич">
                        <div class="member-card__content">
                            <h4 class="member-card__name">Байков Сергей Николаевич</h4>
                            <p class="member-card__position">Начальник Управления по обеспечению деятельности Штаба по
                                защите бизнеса и Проектного офиса в городе Москве</p>
                        </div>
                    </div>
                </div>

                <div class="projects-section">
                    <h5 class="projects-title">Проекты</h5>
                    <ul class="projects-list">
                        <li class="projects-item">
                            <div class="point"></div>
                            Онлайн-Академия
                        </li>
                        <li class="projects-item">
                            <div class="point"></div>
                            Школа бизнеса МБМ
                        </li>
                        <li class="projects-item">
                            <div class="point"></div>
                            Бизнозес-песочница
                        </li>
                    </ul>
                    <a href="#" class="show-more">Показать больше</a>
                </div>

                <div class="line"></div>

                <div class="members-footer">
                    <div class="members-footer__organizations">
                        <a href="#" class="organization-link">
                            <img src="./img\link.svg" alt="">
                            Малый бизнес Москвы
                        </a>
                        <a href="#" class="organization-link">
                            <img src="./img\link.svg" alt="">
                            Московский гарантийный фонд
                        </a>
                        <a href="#" class="organization-link">
                            <img src="./img\link.svg" alt="">
                            Штаб по защите бизнеса в городе Москве
                        </a>
                    </div>

                    <div class="members-footer__contacts">
                        <a href="#" class="link-contact">Связаться с пресс-службой</a>
                        <a href="#" class="link-write">Написать нам</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>