// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Victor Mono", sans-serif, "Cera Pro";
  --content-width: 1300px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --pink: #FF004F;
  --plus-size: 14.44px;
  --minus-width: 4.62px;
  --minus-height: 0.96px;
  --plus-cross-size: 6.46px;


  //
}